.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 0.5rem solid;
  min-width: 8rem;
  &:nth-of-type(n + 1) {
    border-color: rgb(random(255), random(255), random(255));
  }
  &:nth-of-type(2n + 1) {
    border-color: rgb(random(255), random(255), random(255));
  }
  &:nth-of-type(3n + 1) {
    border-color: rgb(random(255), random(255), random(255));
  }
  &:nth-of-type(4n + 2) {
    border-color: rgb(random(255), random(255), random(255));
  }
  &:nth-of-type(5n + 2) {
    border-color: rgb(random(255), random(255), random(255));
  }
}
