.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 100vh;
}
.imagesContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 5rem;
  overflow: auto;
  margin: 3rem 0;
}

.wrapper {
  box-sizing: border-box;
  padding: 1rem;
}

.counterImageWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.4rem;
  span {
    font-weight: bold;
  }
}
